
<div class='jumbotron'>
	<h1> This is the New Fancy ToDo List App!</h1>
</div>

<p><h1 class='lead'>First, choose either to view your new lists, or to add a new one:</h1></p>


<div class="lead">
	<h3><a href='/lists'>View All Lists</a><br></h3>
	<h3><a href='lists/new'>Add New Lists</a></h3>
</div>
