
<div class='jumbotron'>
	<h1> This is the New Fancy ToDo List App!</h1>
</div>

<p><h2 class='lead'>First, choose either to view your new lists, or to add a new one:</h2></p>


<div class="container">
	<a href='/lists'>View All Lists</a>
	<a href='lists/new'>Add A New List</a>
</div>
