
<div class="container">

<h2> Add A New List</h2>

  <form action='/lists' method='post'>
    <div class='form-group'>
      <label for='description'>Assign a Name to Your List:</label>
      <input id='description' name='description' type='text' placeholder="List Name" autofocus>
      </div>
    <button type='submit' class='btn btn-success'>Get 'Er Done!</button>
  </form>
</div>
